* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  min-height: 100vh;
  width: 100vw;
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  background-color: #121212;
  color: #fff;
  display: grid;
  place-items: center;
}
