html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  background-color: #121212;
  color: #fff;
}

* {
  box-sizing: border-box;
}

#app {
  min-height: 100%;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 100px;
}

.link {
  color: #fff;
}
